html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	width: 80%;
	margin: 0 auto;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
h1 {
	background: #ccc;
	border-radius: 20px;
	padding: 0.5em;
	box-shadow: 2px 2px 2px #888;
	color: #14171a;
}